<div class="footer">
  <p>Joy of Tea</p>

  <ul>
    <li><a href="/category/list">All Categories</a></li>
    <li><a href="/product/list">All Products</a></li>
    <li><a href="/brand/list">All Brands</a></li>
  </ul>
  <p class="copyright">&copy; <%= new Date().getFullYear() %></p>
</div>