<nav>
  <ul>
    <li><a href="/category/list">All Categories</a></li>
    <li><a href="/product/list">All Products</a></li>
    <li><a href="/brand/list">All Brands</a></li>
    <li><a href="/user/log-in">Log In</a></li>
  </ul>
</nav>