/* Variables */

:root {
  --site-bg-primary: #fff;
  --site-bg-secondary: #F5F3F5;
  --site-bg-tertiary: #E0E2DB;

  --site-primary: #8B2635;
  --site-secondary: #618B4A;
  --site-tertiary: #2E3532;

  --site-text-primary: #2E3532;

  --border-radius-big: 1em;
  --border-radius-small: 0.1em; 

  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* General styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--site-bg-secondary);
}

main {
  background-color: var(--site-bg-primary);
  box-shadow: var(--shadow-elevation-low);
  border-radius: var(--border-radius-small);
}

* {
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  color: var(--site-text-primary);
}

a {
  color: var(--site-secondary);
}

h2 {
  font-size: 2rem;
}

/* Header */
header {
  width: 100%;
  margin-bottom: 4em;
  background-color: var(--site-bg-primary);
  box-shadow: var(--shadow-elevation-low);
}

header .promo-banner {
  background-color: var(--site-primary);
  color: var(--site-bg-secondary);
  width: 100vw;
  padding: .2em;
  font-size: 1.1em;
  text-align: center;
}

header a,
header a:visited {
  text-decoration: none;
  color: var(--site-text-primary);
  transition: all 100ms;
}

header .inner {
  text-align: center;
  position: relative;
  margin: 0 2ch 1em 2ch;
}

.logo h1 {
  margin-bottom: 0;
}

.logo h1 a {
  font-size: 1.2em;
}

.logo p {
  margin-top: 0;
}

.auth {
  position: absolute;
  right: 0px;
  top: 0px;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5em;  
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

nav ul li {
  display: inline;
}

nav ul li a:hover {
  border-bottom: solid 2px var(--site-tertiary);
  transition: all 100ms;
}

/* Main content */
main {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 2ch;
}

main h2 {
  text-align: center;
}

/* Grid styles */
.grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  border-radius: var(--border-radius-small);
  box-shadow: 1px 1px 3px rgba(0 0 0 / 0.1);
  padding: 2em;
  background-color: var(--site-bg-primary);
}

/* Button styles */

.button {
  color: var(--site-bg-primary);
  font-size: 1.2em;
  text-decoration: none;
  
  display: block;
  padding: 1ch 2ch;
  background-color: var(--site-primary);
  width: fit-content;
  margin: 1em auto;
  border: none;

  border-radius: var(--border-radius-small);
  opacity: 100%;
  transition: opacity 100ms;
  cursor: pointer;
}

.button:hover {
  opacity: 90%;
  transition: opacity 100ms;
}

/* Footer */
footer {
  background-color: var(--site-tertiary);
  
  width: 100%;
  padding: 2em;
  text-align: center;
}

footer * {
  color: var(--site-bg-secondary);
}

footer .footer-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer .footer-content h2 {
  margin-right: auto;
}

footer .copyright {
  font-size: 0.8em;
  color: var(--site-bg-tertiary);
}