/* Variables */

:root {
  --site-bg-primary: #fff;
  --site-bg-secondary: #F5F3F5;
  --site-bg-tertiary: #E0E2DB;

  --site-primary: #8B2635;
  --site-secondary: #618B4A;
  --site-tertiary: #2E3532;

  --site-text-primary: #2E3532;
}

/* General styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--site-bg-primary);
}

* {
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  color: var(--site-text-primary);
}

a {
  color: var(--site-secondary);
}

/* Header */
header {
  width: 100%;
  margin-bottom: 4em;
}

header .promo-banner {
  background-color: var(--site-primary);
  color: var(--site-bg-secondary);
  width: 100vw;
  padding: .2em;
  font-size: 1.1em;
  text-align: center;
}

header a,
header a:visited {
  text-decoration: none;
  color: var(--site-text-primary);
  transition: all 100ms;
}

header .inner {
  text-align: center;
  position: relative;
  margin: 0 2ch 2em 2ch;
}

.logo h1 {
  margin-bottom: 0;
}

.logo h1 a {
  font-size: 1.2em;
}

.logo p {
  margin-top: 0;
}

.auth {
  position: absolute;
  right: 0px;
  top: 0px;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

nav ul li {
  display: inline;
}

nav ul li a:hover {
  border-bottom: solid 2px var(--site-tertiary);
  transition: all 100ms;
}

/* Main content */
main {
  max-width: 1200px;
  margin: 1rem auto;
}

main h2 {
  text-align: center;
}

/* Grid styles */
.grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  border-radius: 1em;
  box-shadow: 1px 1px 3px rgba(0 0 0 / 0.1);
  padding: 2em;
  background-color: var(--site-bg-primary);
}

/* Button styles */

.button {
  color: var(--site-bg-primary);
  font-size: 1.2em;
  text-decoration: none;
  
  display: block;
  padding: 1ch 2ch;
  background-color: var(--site-primary);
  width: fit-content;
  margin: 1em auto;

  border-radius: .1em;
  opacity: 100%;
  transition: opacity 100ms;
}

.button:hover {
  opacity: 90%;
  transition: opacity 100ms;
}

/* Footer */
footer {
  background-color: var(--site-tertiary);
  
  width: 100%;
  padding: 2em;
  text-align: center;
}

footer * {
  color: var(--site-bg-secondary);
}

footer .footer-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer .footer-content h2 {
  margin-right: auto;
}

footer .copyright {
  font-size: 0.8em;
  color: var(--site-bg-tertiary);
}